*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Sora", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfdfd;
}

a,
input,
textarea,
button {
  outline: none;
  text-decoration: none;
  font-family: inherit;
}

/*
 * Typography
 */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212427;
}
